# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Dash / Flask cached folders
instance/
*.log

# Virtual environment (por si creas uno dentro del proyecto)
venv/
env/
env-icfes/

# Archivos temporales de Jupyter
.ipynb_checkpoints/

# Carpetas de sistema
.idea/
.vscode/

env-icfes/
venv/
__pycache__/
mlruns/
catboost_info/
*.log

